.ip {
  &-banner {
    max-width: 1150px;
    margin: 0px auto;
    background-image: url("../../../public/images/banner_bg.png");
    height: 248px;
    text-align: center;
    background-color: aquamarine;
    margin-top: 136px;
    gap: 8px;
    background-repeat: no-repeat;
    &__overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: rgba(53, 53, 53, 0.75);
    }
    &-text {
      &__md {
        font-size: 36px;
        font-weight: 500px;
        background: linear-gradient(90deg, #eddfe0, #705c53);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
      }
      &__sm {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
  &-explore {
    &-cont {
      display: flex;
      align-items: center;
      max-width: 1152px;
      margin: 0px auto;
      margin-top: 24px;
      gap: 24px;
      &-l {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        &__text {
          &-md {
            font-size: 48px;
            color: #705c53;
            font-weight: 500;
          }
          &-sm {
            font-size: 16px;
            color: #705c53;
            font-weight: 500;
          }
        }
        &__button {
          width: 108px;
          align-self: center;
          background-color: #705c53;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
          border-radius: 8px;
          padding: 12px 16px;
          color: #ffffff;
          cursor: pointer;
          transition: box-shadow 0.3s ease-in-out;
        }
        &__button:active {
          box-shadow: none;
        }
      }
      &-r {
        display: flex;
        gap: 24px;
        overflow-x: hidden;
        &-image {
          max-width: 270px;
          height: 416px;
        }

        &-image:nth-child(2) {
          animation: first 10s ease-in-out infinite;
        }
        &-image:nth-child(3) {
          transform: translateX(-180px);
          animation: second 10s ease-in-out infinite;
        }

        @keyframes first {
          0% {
            transform: translateX(-80px);
          }
          50% {
            transform: translateX(-200px);
          }
          100% {
            transform: translateX(-80px);
          }
        }
        @keyframes second {
          0% {
            transform: translateX(-180px);
          }
          50% {
            transform: translateX(-350px);
          }
          100% {
            transform: translateX(-180px);
          }
        }
      }
    }
  }
  &-about {
    width: 100%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    border: 2px solid #705c53;
    border-radius: 25px;
    padding: 25px 35px 23px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    &-text {
      max-width: 645px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      &-md {
        font-size: 32px;
        font-weight: 500;
        color: #b7b7b7;
      }
      &-sm {
        font-size: 16px;
        font-weight: 500;
        color: #705c53;
      }
    }
    &-masonry {
      width: 100%;
      position: relative;
      &-subtext {
        width: 32%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: left;
        max-width: 409px;
        position: absolute;
        &-md {
          font-weight: 400;
          font-size: 1.5rem;
          color: #705c53;
        }
        &-sm {
          font-size: 1rem;
          font-weight: 400;
          color: #705c53;
        }
        &-link {
          color: #353535;
        }
      }
    }
  }
  &-fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-top: 158px;
    &-text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &-md {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: #b7b7b7;
      }
    }
  }
  &-spotlight {
    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;
      &-md {
        color: #d9d9d9;
        font-weight: 400;
        font-size: 32px;
      }
      &-sm {
        font-weight: 400;
        font-size: 16px;
        color: #705c53;
      }
    }
  }
}

.box0 {
  max-width: 188px;
  height: 155px;
  margin-top: auto;
}

.box1,
.box2 {
  max-width: 400px;
  height: 315px;
}
.box3 {
  max-width: 188px;
  height: 155px;
  margin-bottom: auto;
}
.flex {
  display: flex;
  gap: 15px;
}

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  &-left {
    max-width: 224px;
    height: 219px;
    margin-bottom: 105px;
  }
  &-right {
    max-width: 224px;
    height: 219px;
    margin-bottom: 239px;
  }
}
.box0,
.box1,
.box2,
.box3,
.wrapper-left,
.wrapper-right {
  cursor: pointer;
  background-color: #d9d9d9;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}
.box0:hover,
.box1:hover,
.box2:hover,
.box3:hover,
.wrapper-left:hover,
.wrapper-right:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 2px;
}
.box0:active,
.box1:active,
.box2:active,
.box3:active,
.wrapper-left:active,
.wrapper-right:active {
  box-shadow: none;
}
